:root {
  background-color: #23272f;
  color: white;
}

.btn {
  background-color: rgb(32, 155, 28);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  height: 5em;
  width: 9em;
  margin: 2em;
}
